In [1]:
import pandas as pd
import numpy as np

### Tôi ưu bộ nhớ khi dùng pandas

In [2]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object and col_type.name != 'category' and 'datetime' not in col_type.name:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        elif 'datetime' not in col_type.name:
            df[col] = df[col].astype('category')
 
    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [3]:
df = pd.read_csv('price_VNM.csv') 
reduce_mem_usage(df)

Memory usage of dataframe is 0.08 MB
Memory usage after optimization is: 0.07 MB
Decreased by 7.0%

            DATE    CLOSE TICKER     OPEN     HIGH       LOW     VOLUME
0     06/09/2018  122.125    VNM  125.500  126.375  122.0000  1234110.0
1     05/09/2018  125.500    VNM  130.000  130.000  125.1875  1250390.0
2     04/09/2018  156.750    VNM  157.750  157.750  156.6250   690780.0
3     31/08/2018  156.750    VNM  157.000  158.750  156.7500   726110.0
4     30/08/2018  156.500    VNM  157.625  157.750  155.5000   899040.0
...          ...      ...    ...      ...      ...       ...        ...
1408  08/01/2013   92.000    VNM   88.000   92.000   88.0000   629670.0
1409  07/01/2013   88.000    VNM   88.000   89.000   88.0000   135530.0
1410  04/01/2013   88.000    VNM   86.000   88.000   86.0000   147250.0
1411  03/01/2013   86.500    VNM   87.000   87.500   86.0000   146370.0
1412  02/01/2013   87.000    VNM   87.500   88.000   87.0000   199930.0

[1413 rows x 7 columns]