In [1]:
import pandas as pd
df = pd.read_csv('people.csv', index_col = 'person_ID') # mặc định không có index_col sẽ là số thư tự 1 -> 39
df

,name,first,last,middle,email,phone,fax,title,age
person_ID,,,,,,,,,
3130,"Burks, Rosella",Rosella,Burks,NaN,BurksR@univ.edu,963.555.1253,963.777.4065,Professor,25
3297,"Avila, Damien",Damien,Avila,NaN,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor,23
3547,"Olsen, Robin",Robin,Olsen,NaN,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor,21
1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor,18
2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator,30
2401,"Claude, Elvin Haney",Elvin,Claude,Haney,ClaudeE@univ.edu,963.555.2902,963.777.9730,Curator,35
2070,"Mosley, Edmund",Edmund,Mosley,NaN,MosleyE@univ.edu,963.555.2945,963.777.9285,Assistant Professor,35
2561,"Derek, Antoine Mccoy",Antoine,Derek,Mccoy,DerekA@univ.edu,963.555.2992,963.777.5454,Curator,35
1625,"Hawkins, Callie",Callie,Hawkins,NaN,HawkinsC@univ.edu,963.555.3350x6480,963.777.4949,Professor,29
1307,"Pate, Andrea",Andrea,Pate,NaN,PateA@univ.edu,963.555.3723,963.777.5049,Professor,29
2342,"Austin, Liz",Liz,Austin,NaN,AustinL@univ.edu,963.555.4305,963.777.6143,Assistant Professor,28
2755,"Kendrick, Reba Alford",Reba,Kendrick,Alford,KendrickR@univ.edu,963.555.4618x7744,963.777.4371,Associate Curator,23
4150,"Sims, Angelina",Angelina,Sims,NaN,SimsA@univ.edu,963.555.5278,963.777.4400,Professor,22
3544,"Mullins, Kimberly",Kimberly,Mullins,NaN,MullinsK@univ.edu,963.555.5471x1017,963.777.9783,Assistant Professor,22
2096,"Chuck, Lloyd Haney",Lloyd,Chuck,Haney,ChuckL@univ.edu,963.555.5568x2652,963.777.9290,Assistant Professor,25
1089,"Payne, Ladonna",Ladonna,Payne,NaN,PayneL@univ.edu,963.555.5639,963.777.6469,Professor,24
2948,"Baxter, Johnathan Browning",Johnathan,Baxter,Browning,BaxterJ@univ.edu,963.555.5902,963.777.8336,Research Professor,25
4539,"Weiss, Gilbert",Gilbert,Weiss,NaN,WeissG@univ.edu,963.555.5969,963.777.4975,Professor,25
2811,"Deirdre, Florence Barrera",Florence,Deirdre,Barrera,DeirdreF@univ.edu,963.555.6319,963.777.9654,Associate Curator,25
4580,"Fernando, Toby Calderon",Toby,Fernando,Calderon,FernandoT@univ.edu,963.555.6469,963.777.9864,Research Professor,25
2895,"Garrison, Patrica",Patrica,Garrison,NaN,GarrisonP@univ.edu,963.555.6760,963.777.4958,Associate Curator,28
2254,"Effie, Leila Vinson",Leila,Effie,Vinson,EffieL@univ.edu,963.555.6824,963.777.7299,Assistant Professor,28
2389,"Buckley, Rose",Rose,Buckley,NaN,BuckleyR@univ.edu,963.555.6855x5018,963.777.5233,Curator,28
1699,"Stanton, Kathie",Kathie,Stanton,NaN,StantonK@univ.edu,963.555.7095,963.777.1015,Professor,28
1567,"Banks, Shannon",Shannon,Banks,NaN,BanksS@univ.edu,963.555.7198,963.777.6979,Professor,28
3066,"Barnes, Cleo",Cleo,Barnes,NaN,BarnesC@univ.edu,963.555.7463x7335,963.777.1583,Research Professor,25
2426,"Brady, Nellie",Nellie,Brady,NaN,BradyN@univ.edu,963.555.7569,963.777.7218,Curator,25
2217,"Katheryn, Ruben Holt",Ruben,Katheryn,Holt,KatherynR@univ.edu,963.555.7578,963.777.3969,Assistant Professor,25
1968,"Michael, Dianne",Dianne,Michael,NaN,MichaelD@univ.edu,963.555.7592,963.777.9960,Assistant Professor,25
3012,"Grant, Adam",Adam,Grant,NaN,GrantA@univ.edu,963.555.7775,963.777.8115,Research Professor,25
1824,"Head, Kurtis",Kurtis,Head,NaN,HeadK@univ.edu,963.555.7882,963.777.6348,Professor,25
3929,"Berger, Jami",Jami,Berger,NaN,BergerJ@univ.edu,963.555.8158,963.777.5650,Research Professor,25
2682,"Earline, Jaime Fitzgerald",Jaime,Earline,Fitzgerald,EarlineJ@univ.edu,963.555.8357,963.777.4114,Associate Curator,25
3112,"Evelyn, Summer Frost",Summer,Evelyn,Frost,EvelynS@univ.edu,963.555.8895,963.777.5730,Professor,25
2303,"Quentin, Sam Hyde",Sam,Quentin,Hyde,QuentinS@univ.edu,963.555.8921,963.777.2712,Assistant Professor,25
3903,"Dunlap, Ann",Ann,Dunlap,NaN,DunlapA@univ.edu,963.555.9067,963.777.4290,Assistant Professor,25
3095,"Shields, Rich Pena",Rich,Shields,Pena,ShieldsR@univ.edu,963.555.9197,963.777.7215,Professor,25
2383,"Page, Winnie",Winnie,Page,NaN,PageW@univ.edu,963.555.9366,963.777.3202,Curator,25
2146,"Sparks, Ezra",Ezra,Sparks,NaN,SparksE@univ.edu,963.555.9390,963.777.9273,Assistant Professor,25
3958,"Kaufman, Elba",Elba,Kaufman,NaN,KaufmanE@univ.edu,963.555.9507,963.777.3298,Professor,25

## Selection and Indexing

The various methods to grab data from a DataFrame

* **Lấy 1 cột theo tên cột:**

In [2]:
# Liệt kê tất cả người có trong danh sách:
df['name']

person_ID
3130               Burks, Rosella
3297                Avila, Damien
3547                 Olsen, Robin
1538           Moises, Edgar Estes
2941           Brian, Heath Pruitt
2401           Claude, Elvin Haney
2070               Mosley, Edmund
2561          Derek, Antoine Mccoy
1625              Hawkins, Callie
1307                 Pate, Andrea
2342                  Austin, Liz
2755         Kendrick, Reba Alford
4150               Sims, Angelina
3544            Mullins, Kimberly
2096            Chuck, Lloyd Haney
1089               Payne, Ladonna
2948    Baxter, Johnathan Browning
4539               Weiss, Gilbert
2811     Deirdre, Florence Barrera
4580       Fernando, Toby Calderon
2895            Garrison, Patrica
2254           Effie, Leila Vinson
2389                Buckley, Rose
1699              Stanton, Kathie
1567               Banks, Shannon
3066                 Barnes, Cleo
2426                Brady, Nellie
2217          Katheryn, Ruben Holt
1968              Michael, Dianne
3012                  Grant, Adam
1824                 Head, Kurtis
3929                 Berger, Jami
2682     Earline, Jaime Fitzgerald
3112          Evelyn, Summer Frost
2303             Quentin, Sam Hyde
3903                  Dunlap, Ann
3095            Shields, Rich Pena
2383                 Page, Winnie
2146                 Sparks, Ezra
3958                Kaufman, Elba
Name: name, dtype: object

* **Lấy theo nhiều cột:**

In [3]:
# Đưa ra Tên và Chức danh của 5 người đầu tiên
df[['name', 'title']].head(5)

# Thêm head(5) để chỉ in ra 5 bản ghi đầu tiên cho ngắn, mặc định sẽ lấy hết

                          name                title
person_ID
3130           Burks, Rosella             Professor
3297            Avila, Damien            Professor
3547             Olsen, Robin   Assistant Professor
1538       Moises, Edgar Estes            Professor
2941       Brian, Heath Pruitt   Associate Curator

In [4]:
# Đưa ra Tên của 5 người cuối cùng
df.name.tail(5) 

# SQL Syntax (NOT RECOMMENDED!)

person_ID
3903          Dunlap, Ann
3095    Shields, Rich Pena
2383         Page, Winnie
2146         Sparks, Ezra
3958        Kaufman, Elba
Name: name, dtype: object

In [5]:
# Tìm email của một người có ID là 2070:
finding_people = df['email'][2070]
finding_people

'MosleyE@univ.edu'

In [6]:
type(df['name'])
## DataFrame Columns are just Series:

pandas.core.series.Series

In [7]:
type(df[['name', 'phone']])
type(df)

pandas.core.frame.DataFrame

* **Lấy bản ghi theo chỉ số:**

In [8]:
# Đưa ra thông tin của người thứ 4 và người thứ 10:
df[3:10]

,name,first,last,middle,email,phone,fax,title,age
person_ID,,,,,,,,,
1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor,18
2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator,30
2401,"Claude, Elvin Haney",Elvin,Claude,Haney,ClaudeE@univ.edu,963.555.2902,963.777.9730,Curator,35
2070,"Mosley, Edmund",Edmund,Mosley,NaN,MosleyE@univ.edu,963.555.2945,963.777.9285,Assistant Professor,35
2561,"Derek, Antoine Mccoy",Antoine,Derek,Mccoy,DerekA@univ.edu,963.555.2992,963.777.5454,Curator,35
1625,"Hawkins, Callie",Callie,Hawkins,NaN,HawkinsC@univ.edu,963.555.3350x6480,963.777.4949,Professor,29
1307,"Pate, Andrea",Andrea,Pate,NaN,PateA@univ.edu,963.555.3723,963.777.5049,Professor,29

In [9]:
# Lấy số điện thoại và tuổi của 2 người cuối cùng (người thứ 39 và người thứ 40)
df[['phone', 'age']][38:]

                  phone  age
person_ID
2146       963.555.9390   25
3958       963.555.9507   25